body{
    background-color: lightgray;
}
h1{
    color: #1B3022;
    text-align: center;
    padding-top: 100px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;
  }
button{
    font-size: xx-large;
    background-color: ghostwhite;
    color: darkslategrey;
    border-radius: 20%;
    margin-right: 5%;
    border-color: #1B3022;
    text-align: center;
    width: 10%;
}
    .active{
        background-color: #007bff;
        color: #fff;
    }
.topics{
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.topics button{
    display: block;
    margin-bottom: 30px;
    width: 100%;
}
.information{
    margin: 5% 20% 20%;
    border: 30px solid darkslategrey;
    background-color: #333333;
}
p{
    display: none;
    font-size: xx-large;
    font-family: "Microsoft Sans Serif", serif;
    padding: 4%;
    color: lightgray;
}
